@charset "UTF-8"
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-p8na1r');
	src:url('fonts/icomoon.eot?#iefix-p8na1r') format('embedded-opentype'),
		url('fonts/icomoon.woff?-p8na1r') format('woff'),
		url('fonts/icomoon.ttf?-p8na1r') format('truetype'),
		url('fonts/icomoon.svg?-p8na1r#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e900";
}
.icon-pencil:before {
	content: "\e905";
}
.icon-file-text:before {
	content: "\e922";
}
.icon-search:before {
	content: "\e986";
}
.icon-switch:before {
	content: "\e9b6";
}
.icon-plus:before {
	content: "\ea0a";
}
.icon-minus:before {
	content: "\ea0b";
}
/* *********Estilos generales** */
body{
	background-color: #D3D3D3;
	font-family: sans-serif;
}
ul{
	list-style-type: none;
}
li{
	display: list-item;
}
h2{
	clear:both;
}
/* *****Estilo de la lista1**** */
.lista1 li{
	background-color: #5ACE77;
	color:#5E0272;
	border: 5px dashed #954A95;
	float:left;
	width:10%;
	padding:0.5% 0%;
	font-size: 110%;
	font-weight: bold;
	margin-right:1%;
	text-align:center;
}
/* *****Estilo de la lista2**** */
.lista2{
	text-align: center;
}
.lista2 li{
	background-color: white;
	border: 2px solid white;
	border-color:white black black white;
	display:inline;
	padding:0.25% 0.5%;
	font-size: 110%;
	margin:1%;
	text-align:center;
}
.lista2 li:hover{
	background-color: #D3D3D3;
	border-color: black white white black;
}
/* *****Estilo de la lista3**** */
.lista3{
	border:1px solid black;
	padding:0.5%;
	margin-left:0%;
	width:10%;
	text-align: center;
}
.lista3 li{
	background-color: white;
	border: 1px solid black;
	width:80%;
	padding:4%;
	margin:2% 2% 5%;
	text-align:center;
}
/* *****Estilo de la lista4**** */
.lista4{
	width:100%;
	text-align: center;
}
.lista4 li{
	color: #3366CC;
	background-color: white;
	display:inline-block;
	padding:0.5% 0;
	margin: 0;
	width:10%;
	text-align: center;
	font-weight:bold;

}
.lista4 li.par{
	color:white;
	background-color: #3366CC;
}
/* *****Estilo de la lista5**** */

.lista5 li{	
	float:left;
	margin-right: 2%;	
}
/* *****Estilo de la lista6**** */
.lista6{
	width:100%;
	text-align: center;
}
.lista6 li{
	background-color: white;
	border:3px solid black;
	border-radius: 0.3em;
	display:inline;
	padding:0.5em 0.3em 0.3em;
	margin-right: 1%;
	width:5%;
	text-align: center;
	font-size:200%;
	

}

